::placeholder {
  font: var(--body-md);
}

fieldset {
  border: none;
  display: grid;
}

/*padrao titulos dos inputs*/
.title {

  display: block;
  /* para mexer na margem */
  margin-top: 24px;
}

/**/
#tittle-first {
  margin-top: 42px;
}


/*classe para as legendas*/
.legend {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
  align-items: center;
  margin-top: 50px;
  font: var(--heading-sm);
}

