::placeholder {
  font: var(--body-md);
}

fieldset {
  border: none;
  display: grid;
}


.flex-2 {
  /*separação em duas colunas*/
  display: flex;
  /* align-items: center; */
  /* Alinha os itens ao centro verticalmente */

}

.gap {
  /*gap padrão*/
  gap: 16px;
}
