

legend {
   font: var(--heading-sm);
  
}


fieldset{
  border: none;
  display: grid;
  
 
}

/*padrao titulos dos inputs*/
.title {
 
  display: block; 
  /* para mexer na margem */
  margin-top: 24px;
 }

 /*flex da cessão*/
.flex-title{
display: flex;
gap: 12px;
margin-top: 42px;
align-items: center;
  
}


