* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font: var(--body-sm); */
}


:root {

  --font-family_leckerli: "Leckerli One", cursive;
  --font-family_baloo2: "Baloo 2", sans-serif;
  --font-family_Open_Sans: "Open Sans", sans-serif;

  /*tamanho fontes*/
  --font-logo: 400 40px/3rem var(--font-family_leckerli);

  --heading-md: 700 28px/2.1rem var(--font-family_baloo2);
  --heading-sm: 700 18px/1.35rem var(--font-family_baloo2);

  --body-md: 300 16px/1.2rem var(--font-family_Open_Sans);
  --body-sm: 400 14px/1.05rem var(--font-family_Open_Sans);
  --body-xs: 400 12px/0.9rem var(--font-family_Open_Sans);


  /*cores*/

  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;


  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;

  --danger: #FF5959;

  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;


}

body {
  /*garantir que nunca tenha rolagem*/
  background-color: #29292E;
  overflow: hidden;
  font: var(--body-md);
  color: var(--text-heading);
 
}

h1 {
  font: var(--font-logo);
  color: #FF598B;
  margin-left: 32px;
 

 
}

img {
  max-width: 100%;
  /*imagem se encaixar no tamanho da tela*/
  height: auto;
}

span {
  font: var(--body-sm);

}



