/*escondendo os inputs*/
input[type="radio"],
.switch input {
  display: none;

} 
 

input,
textarea {
  appearance: none;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--input-stroke);
  background: var(--input-base);
  color: var(--input-placeholder);
  padding: 13px 16px;


}

label {
  display: block;
  font: var(--body-sm);
  color: var(--text-body);

}

.tittle_input {
  margin: 16px 0px 12px;
  

  & input{
    /* opacity: 0; */
    /* font: var(--body-md); */
  }
 
}

input[type="datetime-local"]{
  font: var(--body-md);
  font-size: 16px;
}


/*configs inputs*/
.input-wrapper {

  display: grid;
  width: 100%;

  & input {
    height: 48px;
    width: 100%;

    
    &::-webkit-calendar-picker-indicator {
      /*tirar desenho calendario*/
      opacity: 0;

    }

  }
}

/*config input date*/
.grid-date {
  grid-template-columns: 272px 272px;

}

input:focus,
textarea:focus,

input[type=""]:focus {
  color: var(--text-heading);
  outline: 1px solid var(--brand-light);
  /*aplica a cor ao redor do inputdo lado de fora-- quando clicar*/

  outline-offset: .1px;
  /*para funcionar as cores acima no navegador safari*/
}

#address {
  width: 272px;
}