#app {
  display: grid;
  /*divide as telas*/
  grid-template-columns: 33.87% 62.13%;
  /*calculo da porcentagem de cada coluna*/
  height: 100vh;
  width: 1240px;
  /*vh é toda a parte visivel da tela*/
  overflow: hidden;
  /*garantindo novamente para n ter rolagem*/
}

aside {
  /*toda a caixa*/
  /*tamanho container*/
  max-width: 27.5rem;
  max-height: 48rem;
  background-color: var(--shape-background);
  padding: 20px 0px 20px 20px;
  border-radius: 20px;
  height: 100%;


  .aside-container {

    background-image: url(../assets/image/background.jpg);
    /* tamanho maximo do background*/
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    border-radius: 1.25rem;
  }

  & img {
    /*logo festa*/

    width: 2.86rem;
    height: 3rem;
    margin-bottom: 1rem;
    margin-top: 32px;
    margin-left: 32px;

  }

  & p {
    font: var(--body-md);
    margin-left: 32px;
    color: var(--text-heading);
    margin-top: 4px;
  }

}


main {

  width: 860px;
  /*total do main*/
  overflow: auto;
  padding: 80px 130px 20px 130px;

  background-color: var(--shape-body);
  border-radius: 1.25rem;
  height: auto;

  & .main-container {
    width: 560px;
    /*maximo ocupação da pagina*/

  }

  p {
    font: var(--heading-md);
    color: var(--text-heading);
    margin-bottom: 42px;

  }
}

/*classe que cria a divisao no final da pagina*/
.layout-divider {
  width: 100%;
  height: 1px;
  margin-top: 48px;
  margin-bottom: 40px;
  background-color: var(--input-stroke);
}