
.radio-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 272px;
  height: 48px;
  border: 1px solid var(--input-stroke);
  border-radius: 8px;
 

}

.radio-inner {
  width: 134px;
  height: 100%;
  width: 100%;
  padding: 4px;
  


  & input:focus,
  & label:hover {

    background-color: var(--shape-button);
    color: var(--text-heading);

  }

   label {
     
    justify-content: center;
     height: 100%;
     width: 100%;  
    }


  }


.radio-wrapper input[type="radio"] {
  display: none;

}

.radio-wrapper label {
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  gap: 8px;
}


.radio-wrapper input[type="radio"]:checked+label {
  border-radius: 4px;
  background-color: var(--shape-button);
  font: var(--body-sm);
  color: var(--text-heading);


  & svg path {
    /*pegando o svg no html*/
    stroke: var(--brand-light);
    /*trocar a cor do svg*/
  }


}