
.radio-wrapper { /*posição do radio*/
  display: flex;
  justify-content: space-evenly;
  width: 272px;
  height: 48px;
  border: 1px solid var(--input-stroke);
  border-radius: 8px;
}

.radio-inner {
  width: 100%;
  height: 100%;
  padding: 4px;
  

/*ao clicar*/
  & input:focus {
    background-color: var(--shape-button);
  
      color: var(--text-heading);

  }
  }

/* esconder o botao radio*/
.radio-wrapper input[type="radio"] {
  position: absolute;
  display: none;

}


.radio-wrapper label {
  display: flex;
  margin: 0px; /*tirando a margem padrao*/
  align-items: center;
  cursor: pointer;
  gap: 8px; /*espaçamento entre os botoes*/
 
  justify-content: center;
  height: 100%;
  width: 100%;  
}


 .radio-wrapper input[type="radio"]:checked+label {
  border-radius: 4px;
  background-color: var(--shape-button);
  color: var(--text-heading);
  transition: background .8s; /*efeito botao*/


    /* pegando o svg no html */
  & svg path {
    stroke: var(--brand-light); 
      /* trocar a cor do svg */
   } 
} 







